# SQL Challenge
## Bonus

In [7]:
#Add Dependencies
import pandas as pd
#import pandas_profiling
import matplotlib as plt
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://postgres:lms9878@localhost:5434/sql_challenge')
connection = engine.connect()

In [8]:
#Import Tables into Pandas DataFrame
department = pd.read_sql_query('select * from "department"',con=engine)
dept_emp = pd.read_sql_query('select * from "dept_emp"',con=engine)
dept_manager = pd.read_sql_query('select * from "dept_manager"',con=engine)
employees = pd.read_sql_query('select * from "employees"',con=engine)
salaries = pd.read_sql_query('select * from "salaries"',con=engine)
titles = pd.read_sql_query('select * from "titles"',con=engine)

In [ ]:
#Describe 
salaries.describe()

In [ ]:
salary = salaries["salary"].value_counts()
salary.plot(kind="bar")